td > h1 {
    text-align: left;
    font-size: 225%;
}

/* .gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2%;
} */

#images {
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    vertical-align: top;
}

.gallery-item :hover {
    cursor: pointer;
}

.gallery-item > img {
    max-width: 300px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    text-align: center;
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 1%;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.slide {
    display: none;
}

.slide > img {
    max-height: 350px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    /* position: absolute; */
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 200%;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 10%;
}
.prev {
    left: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

#slideshow-toggle {
    background-color: green;
    color: #fff;
    padding: 3%;
    border: none;
    border-radius: 5px;
    font-size: 150%;
}

#slideshow-toggle:hover {
    cursor: pointer;
    background-color: darkgreen;
}
